# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# IDE
.vscode/

# Testing
.pytest_cache/

# Type Checking
.mypy_cache/

# Ruff
.ruff_cache/

# Logs
logs/
*.log

# Build
build/
dist/
*.egg-info/

# OS
Thumbs.db
.DS_Store

# ECHO local persistent data
data/